﻿<h1>League</h1>

<p>This is the league page</p>

<p *ngIf="!leagues"><em>Getting leagues...</em></p>


<div *ngFor="let league of leagues">
     <a [routerLink]="['/ladders', league.leagueName]">
    {{ league.leagueName }} </a>
</div>
