﻿.dark {
    background: black;
    color: #a38d6d;
}

    /* Navigations*/
    .dark .main-nav {
        background: #222;
    }

    .dark colortheme span a {
        color: #dfcf99
    }

    /*Tables*/
    .dark table th {
        background: #222;
        color: #dfcf99;
    }
    .dark table tbody .active td {
    background: #203310;
}

    .dark table tr:nth-child(even) {
        background: #222;
    }

    /*Search field*/
    .dark .stylish-input-group .input-group-addon {
        background: #333;
        border: 1px solid #444;
        border-left: 0;
    }

    .dark .stylish-input-group .form-control {
        border-color: #444;
        background: #333;
        color: #a38d6d;
    }

    .dark .glyphicon-search {
        color: #999;
    }

    .dark .searchMessage {
        color: darkred;
    }

    /*Paginations*/
    .dark .pagination * {
        background: #222;
    }

    .dark .pagination > li > a,
    .dark .pagination > li > span {
        border: 1px solid #444;
    }

        .dark .pagination > li > a:hover,
        .dark .pagination > li > span:hover,
        .dark .pagination > li > a:focus,
        .dark pagination > li > span:focus {
            z-index: 2;
            background-color: #444;
            border-color: #555;
            color: #a38d6d;
        }

    .dark .pagination > .active > a,
    .dark .pagination > .active > span,
    .dark .pagination > .active > a:hover,
    .dark .pagination > .active > span:hover,
    .dark .pagination > .active > a:focus,
    .dark .pagination > .active > span:focus {
        z-index: 3;
        cursor: default;
        background-color: #204910;
        border-color: #203110;
        color: #a38d6d;
    }

    .dark .pagination > .disabled > span:hover,
    .dark .pagination > .disabled > span:focus,
    .dark .pagination > .disabled > a,
    .dark .pagination > .disabled > a:hover,
    .dark .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
    }
