﻿.light {
    background: white;
}

    /*Navigations*/
    .light .main-nav {
        background: #f2f2f2;
    }

    /*Tables*/
    .light table tr:nth-child(even),
    .light table th {
        background: #f2f2f2;
    }

    .light table tbody .active td {
        background: #99bcdb;
    }

    /*Search field*/
    .light .stylish-input-group .input-group-addon {
        background: white !important;
    }

    .light .stylish-input-group .form-control {
        border-color: #ccc;
    }

    .light .stylish-input-group button {
        border: 0;
        background: transparent;
    }

    /*Paginations*/
    .light .pagination > li > a,
    .light .pagination > li > span {
        border: 1px solid #ddd;
        color: #337ab7;
    }

        .light .pagination > li > a:hover,
        .light .pagination > li > span:hover,
        .light .pagination > li > a:focus,
        .light .pagination > li > span:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

    .light .pagination > .active > a,
    .light .pagination > .active > span,
    .light .pagination > .active > a:hover,
    .light .pagination > .active > span:hover,
    .light .pagination > .active > a:focus,
    .light .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .light .pagination > .disabled > span:hover,
    .light .pagination > .disabled > span:focus,
    .light .pagination > .disabled > a,
    .light .pagination > .disabled > a:hover,
    .light .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }
