﻿


<div *ngIf="!entries">
    <h1>League</h1>
    <p>This is the ladder page</p>
    <em>Getting ladder...</em>
</div>

<div *ngIf="entries">
    <h1 class="leagueName">{{leagueName}} League</h1>
    <div class="container">
        <div class="text-center">
            <!-- items being paged -->
            <table class='table'>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Account</th>
                        <th>Character</th>
                        <th>Class</th>
                        <th>Level</th>
                        <th>Experience</th>
                        <th>Dead</th>
                        <th>Online</th>
                        <th>Challenges</th>
                        <th>Twitch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of pagedItems" [ngClass]="{active:highlightRank.indexOf(entry.rank.toString()) > -1}">
                        <td class="rank">{{ entry.rank}}</td>
                        <td class="account">{{ entry.accountName }}</td>
                        <td class="character">{{ entry.characterName }}</td>
                        <td class="class">{{ entry.characterClass }}</td>
                        <td class="level">{{ entry.characterLevel }}</td>
                        <td class="experience">{{ entry.characterExperience }}</td>
                        <td class="dead">{{ entry.dead }}</td>
                        <td class="online">{{ entry.online }}</td>
                        <td class="challenges">{{ entry.accountChallenges }}</td>
                        <td class="twitch">
                            <a href="http://www.twitch.tv/{{entry.accountTwitchName}}" target="_blank" tittle="TEST">
                                {{ entry.accountTwitchName }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="searchField">
                <div class="col-sm-6">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Search" (keyup.enter)="search()">
                        <span class="input-group-addon">
                            <button type="submit" (click)="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>

            <!-- Error message for search field-->
            <div *ngIf="errorMessage">
                <label class="searchMessage">{{errorMessage}}</label>
            </div>

            <!-- Multiple search results-->
            <div *ngIf="searchResults.length > 1">
                <label class="searchMessage">Multiple results found:</label>
                <table class='table searchTable'>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Account</th>
                            <th>Character</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of searchResults">
                            <td class="rank">
                                <a (click)="setPageByRank(entry.rank)">
                                    {{ entry.rank}}
                                </a>
                            </td>
                            <td class="account">{{ entry.accountName}}</td>
                            <td class="character">{{ entry.characterName }}</td>
                        </tr>
                    </tbody>
                </table>               
            </div>
        </div>
    </div>
</div>