﻿.leagueName {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

:host .searchField {
    position: absolute;
    margin: 10px -15px;
    width: 33%;
}

/*Tables*/
table th {
    text-align: left;
}
table tr {
    text-align: left;
}
table .rank {
    width: 75px;
}
table .account {
    width: 160px;
}
table .character {
    width: 240px;
}
table .class {
    width: 100px;
}
table .level {
    width: 80px;
}
table .experience {
    width: 140px;
}
table .dead {
    width: 80px;
}
table .online {
    width: 80px;
}
table .challenges {
    width: 140px;
}
table .twitch {
    width: 180px;
}
.searchTable {
    float: left;
    width: 0%;
}

/*Search field*/
.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.searchMessage {
    margin-top: -10px;
    float: left;
    width: 100%;
    text-align: left;
}

/*Pagination*/
.pagination {
    margin: 10px 0;
}